/* By Uk */
@font-face {
  font-family: axiforma-Light;
  src: url("../fonts/axiforma-Light.otf");
}
@font-face {
  font-family: axiforma-Heavy;
  src: url("../fonts/axiforma-Heavy.otf");
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  font-family: axiforma-Light;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
}

.title {
  font-size: 40px;
  text-align: center;
}
@media (max-width: 575.98px) {
  .title {
    font-size: 24px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .title {
    font-size: 32px;
  }
}

.subtitle {
  font-size: 14px;
  text-align: center;
  width: 90%;
}

.btn {
  width: 150px;
  height: 42px;
  background-color: #ff9933;
  outline: none;
  color: #ffffff;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  transition: all 350ms ease;
}
.btn:hover {
  transform: scale(1.08);
  border-radius: 0px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.315);
}

.heading-txt {
  color: #ff9933;
  font-weight: bold;
  font-size: 35px;
  position: relative;
  margin-bottom: 18px;
}

.content {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 18px;
}

.line {
  width: 25%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 8%;
}

header {
  width: 100%;
  z-index: 999;
  padding: 0;
  margin: 0;
}
header .navbar {
  background-color: transparent;
  font-weight: 100;
  padding: 2% 4%;
  height: auto;
  top: 0%;
  z-index: 999;
  transition: all 300ms linear;
}
@media (max-width: 575.98px) {
  header .navbar {
    padding: 2% 4%;
    top: 0;
    background-color: #ffffff;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  header .navbar {
    padding: 2% 4%;
    top: 0;
  }
}
header .navbar.blackto {
  background-color: #ffffff;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.05);
  top: 0;
  padding: 1% 6%;
  transition: all 300ms linear;
}
@media (max-width: 575.98px) {
  header .navbar.blackto {
    padding: 3% 6%;
  }
}
header .navbar.blackto .navbar-brand .logo {
  color: #111111;
  width: 120px;
}
@media (max-width: 575.98px) {
  header .navbar.blackto .navbar-brand .logo {
    width: 100px;
  }
}
header .navbar.blackto .custom-navbar-nav .nav-link {
  color: #111111 !important;
}
header .navbar .navbar-toggler {
  color: #111111 !important;
  outline: none;
}
header .navbar .navbar-brand {
  padding: 0;
}
header .navbar .navbar-brand .logo {
  width: 220px;
  font-weight: 100;
  font-size: 28px;
  margin-bottom: 0;
}
@media (max-width: 575.98px) {
  header .navbar .navbar-brand .logo {
    color: #111111;
  }
}
header .navbar .navbar-brand .media-body {
  margin-left: -14px;
}
header .navbar .custom-navbar-nav {
  position: relative;
  margin-right: 2%;
}
header .navbar .custom-navbar-nav .nav-item .nav-link {
  padding: 0.5rem 1.5rem;
  color: #000;
  font-size: 18px;
  font-family: axiforma-Light;
}
header .navbar .custom-navbar-nav .nav-item .nav-link:hover {
  color: #6C63FF;
}
@media (max-width: 575.98px) {
  header .navbar .custom-navbar-nav .nav-item .nav-link {
    padding: 0.5rem 0.5rem;
    color: #111111;
  }
}
header .navbar .nav-btn {
  width: 90px;
  height: 35px;
  font-size: 14px;
  background: transparent;
  color: #ffffff;
  padding: 2% 0%;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 350ms ease;
}
header .navbar .nav-btn.nav-btn1 {
  background-color: #F4CDC9;
  margin-left: 15px;
  color: #000000;
}
header .navbar .nav-btn:hover {
  background-color: #F4CDC9;
  color: #000000;
}
@media (max-width: 575.98px) {
  header .navbar .nav-btn {
    height: 34px;
    margin-bottom: 9%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  header .navbar .nav-btn {
    height: 34px;
    margin-bottom: 9%;
  }
}

/*Home*/
.home {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0% 4%;
}
.home .home-box .home-title {
  font-size: 50px;
  margin: 20px 0px;
}
.home .home-left {
  position: relative;
  z-index: 99;
}
.home .home-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home-right .home-right-img {
  width: 50%;
  animation: flower1 20s linear infinite;
}

.heading, .solutions .solutions-box .solutions-childbox .solutions-title {
  font-size: 40px;
}

.aboutus {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10% 0%;
  z-index: 4;
  background-color: #232323;
}
@media (max-width: 575.98px) {
  .aboutus {
    padding-bottom: 15%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .aboutus {
    padding-bottom: 15%;
  }
}
.aboutus .abt-mb {
  margin-bottom: 7%;
}
.aboutus .aboutus-image-box {
  padding: 1% 0%;
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .aboutus .aboutus-image-box {
    min-height: 360px;
  }
}
.aboutus .aboutus-image-box .abt-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  box-shadow: 12px 7px 124px 0 rgba(0, 0, 0, 0.9);
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media (max-width: 575.98px) {
  .aboutus .aboutus-image-box .abt-img {
    width: 130px;
    height: 130px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .aboutus .aboutus-image-box .abt-img {
    width: 130px;
    height: 130px;
  }
}
.aboutus .aboutus-image-box .abt-img:hover {
  filter: saturate(5);
  transform: scale(1.01);
}
.aboutus .aboutus-image-box .abt-img.abt-img2 {
  width: 300px;
  height: 300px;
  z-index: 9;
}
@media (max-width: 575.98px) {
  .aboutus .aboutus-image-box .abt-img.abt-img2 {
    width: 180px;
    height: 180px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .aboutus .aboutus-image-box .abt-img.abt-img2 {
    width: 180px;
    height: 180px;
  }
}
.aboutus .aboutus-image-box .abt-img.abt-img1, .aboutus .aboutus-image-box .abt-img.abt-img3 {
  position: absolute;
  animation: abtImg 5s linear infinite;
}
.aboutus .aboutus-image-box .abt-img.abt-img1 {
  left: 0;
  top: 0;
}
.aboutus .aboutus-image-box .abt-img.abt-img3 {
  right: 0;
  bottom: 0;
  animation-direction: reverse;
}
.aboutus .about-box {
  position: relative;
  margin-top: 8%;
}

@keyframes abtImg {
  0% {
    transform: rotate(0deg) translate(10px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(10px) rotate(-360deg);
  }
}
@keyframes icon {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
.art {
  background-color: #232323;
}
.art .art-box {
  position: relative;
  padding: 2% 0%;
  margin-top: 5%;
}
.art .art-box .art-img {
  width: 78%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 12px 7px 124px 0 rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 7;
  animation: abtImg 5s linear infinite;
}
@media (max-width: 575.98px) {
  .art .art-box .art-img {
    margin-top: 20%;
    width: 68%;
  }
}
.art .art-box .art-img.art-img1 {
  position: absolute;
  right: -13%;
  top: -30%;
  z-index: 0;
  animation-direction: reverse;
}
@media (max-width: 575.98px) {
  .art .art-box .art-img.art-img1 {
    right: 0;
    top: -15%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .art .art-box .art-img.art-img1 {
    right: -8%;
    top: -15%;
  }
}

.solutions {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.solutions .solutions-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.solutions .solutions-box .solutions-box-img {
  position: absolute;
  animation: flower1 15s linear 0s infinite;
  z-index: 0;
}
@media (max-width: 575.98px) {
  .solutions .solutions-box .solutions-box-img {
    width: 70%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .solutions .solutions-box .solutions-box-img {
    width: 80%;
  }
}
.solutions .solutions-box .solutions-childbox {
  width: 50%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsla(0, 0%, 1%, 0.705);
  position: relative;
  z-index: 3;
  box-shadow: 0px 0px 30px rgba(110, 110, 110, 0.419);
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  width: 50%;
}
@media (max-width: 575.98px) {
  .solutions .solutions-box .solutions-childbox {
    width: 90%;
  }
}
.solutions .solutions-box .solutions-childbox .solutions-box-sideimg1 {
  position: absolute;
  width: 40%;
  height: auto;
  top: -3%;
  left: -3%;
  z-index: -1;
}
.solutions .solutions-box .solutions-childbox .solutions-box-sideimg2 {
  position: absolute;
  width: 40%;
  height: auto;
  transform: rotate(-180deg);
  right: -3%;
  bottom: -3%;
  z-index: -1;
}
.solutions .solutions-box .solutions-childbox .solutions-subtitle {
  font-size: 20px;
}
.solutions .solutions-box .solutions-childbox .solutions-content {
  line-height: 1.5;
  font-size: 18px;
}

.team {
  background-color: #232323;
}
.team .team-content {
  width: 50%;
  text-align: center;
  color: #d1d1d1;
  margin: 0 auto;
  margin-bottom: 5%;
}
@media (max-width: 575.98px) {
  .team .team-content {
    width: 95%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .team .team-content {
    width: 90%;
  }
}
.team .tm-bx {
  position: relative;
  margin: 10px 0px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.team .tm-bx:hover .tm-bx-img img {
  filter: saturate(5);
}
.team .tm-bx:hover .tm-bx-body {
  transform: translateY(-70px);
}
.team .tm-bx .tm-bx-img {
  width: 100%;
  height: 320px;
}
@media (max-width: 575.98px) {
  .team .tm-bx .tm-bx-img {
    height: 220px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .team .tm-bx .tm-bx-img {
    height: 280px;
  }
}
.team .tm-bx .tm-bx-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px 40px 0px 0px;
}
.team .tm-bx .tm-bx-body {
  width: 95%;
  min-height: 140px;
  background-color: #070707;
  padding: 15px;
  margin: 0 auto;
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px 6px 40px 6px;
  transform: translateY(-30px);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.team .tm-bx .tm-bx-body .tm-name {
  color: #ffffff;
  font-size: 20px;
}
.team .tm-bx .tm-bx-body .tm-rl {
  color: #d1d1d1;
  font-size: 13px;
  margin-bottom: 0;
}

.contactus {
  width: 100%;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5% 0%;
  position: relative;
  z-index: 9;
}
.contactus::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.603);
  z-index: 0;
}
.contactus .contact-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6%;
}
.contactus .contact-box .contact-title {
  text-align: center;
  font-size: 30px;
  color: #ff9933;
  margin: 10px 0px;
  font-family: Recoleta;
}
.contactus .contact-box .contact-shape {
  width: 20%;
}
.contactus .contact-form {
  position: relative;
}
.contactus .contact-form .form-img {
  position: absolute;
  left: -13%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 575.98px) {
  .contactus .contact-form .form-img {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .contactus .contact-form .form-img {
    display: none;
  }
}
.contactus .contact-form .form-img2 {
  position: absolute;
  right: -29%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}
@media (max-width: 575.98px) {
  .contactus .contact-form .form-img2 {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .contactus .contact-form .form-img2 {
    display: none;
  }
}
.contactus .contact-form .form-grp {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 20px;
}
.contactus .contact-form .form-grp .form-inp {
  width: 100%;
  height: 45px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #ffffff;
  outline: none;
  color: #ff9933;
  padding: 10px 10px;
}
.contactus .contact-form .form-grp .form-inp.form-inp1 {
  height: auto;
}
.contactus .contact-form .form-grp .form-label {
  display: block;
  color: #ffffff;
  margin-left: 14px;
  font-size: 14px;
  margin-bottom: 4px;
}

@keyframes move {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes move1 {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes flower1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ror {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
footer {
  background-color: #101010;
  position: relative;
  width: 100%;
  height: auto;
  padding: 2% 0%;
}
@media (max-width: 575.98px) {
  footer {
    padding-top: 6%;
  }
}
footer .footer-heading {
  color: #ffffff;
  margin-top: 3%;
  padding: 2px 0px;
  font-weight: 100;
  font-size: 14px;
}
footer .footer-info {
  position: relative;
  text-align: center;
}
footer .footer-info .logo {
  color: #ff9933;
  margin-bottom: 6px;
}
footer .footer-info img {
  width: 70%;
}
footer .footer-info .footer-info-text {
  font-size: 14px;
  color: #FFFFFF;
}
footer .social-media {
  text-align: center;
}
footer .social-media .social-list {
  color: #F4CDC9;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
footer .social-media .social-list .social-links:hover {
  color: #ffffff;
}
footer .social-media .social-links {
  width: 32px;
  height: 32px;
  color: #F4CDC9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 2px;
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.copyrights {
  background-color: #101010;
  padding: 2% 0%;
}
.copyrights .copyrights-data {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 2px;
  text-align: center;
}
.copyrights .footer-cloud-img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */